
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header { 
  padding: 40px;
  text-align: center;
  background: #9d1010;
  color: #fff;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #4d2323;
}

nav a {
  color: #ffffff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b28a8a;
  padding: 20px;
}

section {
  flex: 3;
  background-color: #fff;
  padding: 20px;
}

.sample-img {
    width: 100%; /* you can use % */
    height: auto;
}

footer {
  padding: 20px;
  text-align: center;
  background: #9d1010;
  color: #fff;
}

@media screen and (max-width: 768px) {
  /* use flex-direction to stack the navbar, sidebar, and body */
  main,
  nav {
    flex-direction: column;
  }
  /* make the sidebar stack below the body */
  aside {
    order: 2;
  }
  /* change the header background */
  header {
    background: #772014;
  }
  /* change the navbar and footer background */
  nav 
  footer a {
    background-color: #4d2323;
    color: #ffffff;
  }
}